<app-header-restau></app-header-restau>




<!-- titre de la page  -->
<div class="principal">
  <div class="menu" style="z-index: 6;">
    <div class="profil">
      <img [src]="userInfo?.imageUrl">
      <h3>{{userInfo?.nom}}</h3>
    </div>
    <div class="trait"></div>
    <div class="onglets">
      <div class="option">
        <div class="option1" style="background-color: #d5d5d5;" routerLink="/afficheMenu">
          <img src="../../../assets/images/menu.png" alt="">
          <h5>Menu</h5>
        </div>
        <div class="option2" routerLink="/afficheType">
          <img src="../../../assets/images/type.png" alt="">
          <h5 style="margin-left: 1.8em;">Type de plat</h5>
        </div>

      </div>

      <div class="option">
        <div class="option2" routerLink="/affichePlat">
          <img src="../../../assets/images/plat.png" alt="">
          <h5>Plats</h5>
        </div>

        <div class="option1" routerLink="mesCommandes">
          <img src="../../../assets/images/1262762.png" alt="">
          <h5>Commandes</h5>
        </div>
      </div>
      <div class="option">
        <div class="option2">
          <img src="../../../assets/images/evennement.png" alt="">
          <h5>Evennements</h5>
        </div>

        <div class="option1">
          <img src="../../../assets/images/tel.png" alt="">
          <h5>Contacts</h5>
        </div>
      </div>

      <div class="deconnexion">
        <button (click)="onLogout()">Déconnexion</button>
      </div>



    </div>
  </div>

  <div class="centre">
    <div class="upbar">
<!-- Le titre de la page  -->
      <h1>Liste de mes plats</h1>
    </div>
<!-- Les cartes  -->
    <div class="afiche" >
    <!--  -->
      <div class="carte" *ngFor=" let data of Restau " (click)="showRestauDetails(data)">
        <div class="image">
          <!-- recuperer l'image dans firestorage et le mettre ici -->
          <img [src]="data.fileInput" alt="image du restaurant">
        </div>
        <div class="titre">
          <br>
          <h4>{{data.nom}}</h4>
          <h5 style="color: #ff8000;">Prix : {{data.prix}} FCFA</h5>
        </div>
      </div>
    <!--  -->

    </div>
  </div>

  <!-- la partie details  -->
  <div class="droite">
    <div class="detail">
      <h1>
      Plus de details
      </h1>
      <hr><hr><hr>
      <div class="detailA" *ngIf="Restau">
        <h1>{{Restau.nom}}</h1>
      </div>
    </div>

  </div>

</div>
