*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
    width: 100%;
    height: 15vh;
    /* background-color: rgb(208, 208, 208); */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: 0px 0px 5px 1px #888888;
    padding-right: 2em;
    margin-bottom: 1em;

}
.regle{
  padding: 0.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.regle .logo img{
  width:9em;
}
.recherche{
  /* background-color: #ff8000; */
  width: 40%;
  margin-left: -5em;
  height: 6vh;
  border-radius: 5px;
  display: flex;
  border-collapse: collapse;
}
.recherche .searchButton {
  background-color: #ff8000;
  border: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.recherche .searchButton img {
  width: 3em;

}
.recherche input{
  width: 93%;
  height: 6vh;
  background-color: #e1e1e1;
  border:none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 1em;
  outline: none;

}
.notification{
  width: 6vh;
  height: 6vh;
  background-color: #ff8000;
  border-radius: 5px;
  margin-left: -35em;
  margin-right: -25em;
  align-items: center;
}
.notification img{
  width: 6vh;
}
.ajout button{
  height: 6vh;
  width: 18vh;
  background-color: #ff8000;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
.ajout button:hover{
  color: #e5e5e5;
}
.gauche{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 0px 0px 5px 1px #888888;
  width: 21%;
  height: auto;
  z-index: 1;
  background-color: #ffffff;
  padding-bottom: 0.5em;
}

.groupe{
 display: flex;
}
.centre{
  width: 66%;
}
/* .droite{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0px 0px 5px 1px #888888;
  width:20%;
  height: 100vh;
  background-color: #ffffff;
  margin-left: 3%;
} */
/* .ch{
  width: 100%;
  height: 15vh;
  box-shadow: 0px 0px 5px 1px #888888;
  margin-left: -0.3em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  margin-bottom: 1em;
} */
/* .cb{
  width: 99%;
  margin-left: 30%;
  height: 100vh;
} */
/* .cb form input{
  background-color: #88888850;
  border: none;
  width: 45%;
  height: 1.9em;
  border-radius: 5px;
  outline: none;
  padding-left: 0.5em;
} */
/* .cb form div{
  margin: 1em;
} */
/* .cb form div label{
  font-size:1.2em;
  color: #5d5d5d;
  text-align: left;
} */
/* .ch h1{
  color: #ff8000;
}
.ch{
  padding: 1.5em;
} */
.imgg{
  width:100%;
  height: 17vh;
  text-align: center;
  margin: auto;
  margin-bottom: 5em;
}
.imgg img{
width: 48%;
border-radius: 50%;
margin-top: 0.3em;
border: 2px solid #ff8000;
}
.imgg h2{
  color: #ff8000;

}

.p{
  margin: auto;
  /* border: 1px solid; */
  width: 90%;
  height: 5em;
  display: flex;
  align-items: center;
  padding: auto;
  justify-content: space-around;
}
.contain img{
  width: 4em;
}
.contain{
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px #888888;
  width: 6em;


}
.passe{
  /* border: 1px solid; */
  height: 105vh;
  width: 100%;
  padding: 0;
}
.contain:hover{
  background-color: #88888859;
}
.dropdown{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Ajoutez un fond blanc ou la couleur souhaitée */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ajoutez une ombre légère */
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Affiche les éléments de haut en bas */
  align-items: center;
  width: 50%;

}

.dropdown button {
  display: block;
  width: 25%;
  padding: 8px;
  margin-bottom: 5px;
  text-align: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
