
<app-header-restau></app-header-restau>

<!-- titre de la page  -->
<div class="principal">
  <div class="menu" style="z-index: 6;">
    <div class="profil">
      <img [src]="userInfo?.imageUrl">
      <h3>{{userInfo?.nom}}</h3>
    </div>
    <div class="trait"></div>
    <div class="onglets">
      <div class="option">
        <div class="option1" style="background-color: #d5d5d5;" routerLink="/afficheMenu">
          <img src="../../../assets/images/menu.png" alt="">
          <h5>Menu</h5>
        </div>
        <div class="option2" routerLink="/afficheType">
          <img src="../../../assets/images/type.png" alt="">
          <h5 style="margin-left: 1.8em;">Type de plat</h5>
        </div>

      </div>

      <div class="option">
        <div class="option2" routerLink="/affichePlat">
          <img src="../../../assets/images/plat.png" alt="">
          <h5>Plats</h5>
        </div>

        <div class="option1" routerLink="mesCommandes">
          <img src="../../../assets/images/1262762.png" alt="">
          <h5>Commandes</h5>
        </div>
      </div>
      <div class="option">
        <div class="option2">
          <img src="../../../assets/images/evennement.png" alt="">
          <h5>Evennements</h5>
        </div>

        <div class="option1">
          <img src="../../../assets/images/tel.png" alt="">
          <h5>Contacts</h5>
        </div>
      </div>

      <div class="deconnexion">
        <button (click)="onLogout()">Déconnexion</button>
      </div>



    </div>
  </div>

      <div class="centre">
        <div class="upbar" >
    <!-- Le titre de la page  -->
          <h1>Formulaire d'ajout de menu </h1>
        </div>
    <!-- Les cartes  -->

        <!--  -->
          <div class="form">
            <form #admin="ngForm" (ngSubmit)="addMenu(admin)">
              <!-- ====================================== -->

              <input #inputField ="ngModel" name="fileInput" ngModel type="file"  accept="image/*" (change)="onChange($event)"
              style="margin-bottom: 2em;">
            <!-- ======================================= -->



              <div>
                <label for="nom" >Nom du menu</label><br>
                <input type="text" name="nom" id="nom" ngModel>
              </div>

              <div>
                <label for="type">Choisir les plat du menu :</label>
                <select name="Plats" multiple id="" ngModel>
                  <option  *ngFor="let item of Plat" [ngValue]="item.id">{{ item.nom}}</option>
                </select>

              </div>




              <div class="button">
              <button type="submit" style="background-color: #ff8000;">Ajouter</button>
              <!-- <input type="submit" value="Ajouter"> -->
              <button type="reset" style="background-color:red;">Annuler</button>
              </div>
            </form>
          </div>
        <!--  -->

      </div>

      <!-- la partie details  -->
      <div class="droite">
        <div class="detail">
          <h1>
          Plus de details
          </h1>
          <hr><hr><hr>

        </div>

      </div>

    </div>
