<app-header-admin></app-header-admin>


<!-- titre de la page  -->
<div class="principal">
  <div class="menu" style="z-index: 6;">
    <div class="profil">
      <img src="../../../assets/images/profil (2).png" alt="">
      <h3>Nom complet de Supper-Admin</h3>
    </div>
    <div class="trait"></div>
    <div class="onglets">
      <div class="option">
        <div class="option1">
          <img src="../../../assets/images/acceuil.png" alt="">
          <h5>Acceuil</h5>
        </div>
        <div class="option2">
          <img src="../../../assets/images/profil (2).png" alt="">
          <h5>Supper-Admin</h5>
        </div>
      </div>

      <div class="option">
        <div class="option1">
          <img src="../../../assets/images/menu.png" alt="">
          <h5>Menus</h5>
        </div>
        <div class="option2">
          <img src="../../../assets/images/plat.png" alt="">
          <h5>Types plats</h5>
        </div>
      </div>

      <div class="option">
        <div class="option1">
          <img src="../../../assets/images/1262762.png" alt="">
          <h5>Plats</h5>
        </div>
        <div class="option2">
          <img src="../../../assets/images/sta.png" alt="">
          <h5>Statistiques</h5>
        </div>
      </div>

      <!-- <div class="option">
        <div class="option1">
          <img src="../../../assets/images/acceuil.png" alt="">
          <h4>Acceuil</h4>
        </div>
        <div class="option2">
          <img src="../../../assets/images/acceuil.png" alt="">
          <h4>Acceuil</h4>
        </div>
      </div> -->

      <div class="option">
        <div class="option1">
          <img src="../../../assets/images/tel.png" alt="">
          <h4>Contacts</h4>
        </div>
        <!-- <div class="option2">
          <img src="../../../assets/images/acceuil.png" alt="">
          <h4>Acceuil</h4>
        </div> -->
      </div>

    </div>
  </div>

  <div class="centre">
    <div class="upbar">
<!-- Le titre de la page  -->
      <h1>Liste des Admins</h1>
    </div>
<!-- Les cartes  -->
    <div class="afiche" >
    <!--  -->
      <div class="carte" *ngFor=" let data of SupAdmin ">
        <div class="image">
          <!-- recuperer l'image dans firestorage et le mettre ici -->
          <img [src]="data.fileInput" alt="profil">
        </div>
        <div class="titre">
          <h3>{{data.nom}}</h3>
        </div>
      </div>
    <!--  -->

    </div>
  </div>

  <!-- la partie details  -->
  <div class="droite">
    <div class="detail">
      <h1>
      Plus de details
      </h1>
      <hr><hr><hr>
    </div>
    <div>

    </div>

  </div>

</div>

