
<app-header-admin></app-header-admin>
    <!-- titre de la page  -->
    <div class="principal">
      <div class="menu" style="z-index: 6;">
        <div class="profil">
          <img src="../../../assets/images/profil (2).png" alt="">
          <h3>Nom complet de Supper-Admin</h3>
        </div>
        <div class="trait"></div>
        <div class="onglets">
          <div class="option">
            <div class="option1">
              <img src="../../../assets/images/acceuil.png" alt="">
              <h5>Acceuil</h5>
            </div>
            <div class="option2">
              <img src="../../../assets/images/profil (2).png" alt="">
              <h5>Supper-Admin</h5>
            </div>
          </div>

          <div class="option">
            <div class="option1">
              <img src="../../../assets/images/menu.png" alt="">
              <h5>Menus</h5>
            </div>
            <div class="option2">
              <img src="../../../assets/images/plat.png" alt="">
              <h5>Types plats</h5>
            </div>
          </div>

          <div class="option">
            <div class="option1">
              <img src="../../../assets/images/1262762.png" alt="">
              <h5>Plats</h5>
            </div>
            <div class="option2">
              <img src="../../../assets/images/sta.png" alt="">
              <h5>Statistiques</h5>
            </div>
          </div>


          <div class="option">
            <div class="option1">
              <img src="../../../assets/images/tel.png" alt="">
              <h4>Contacts</h4>
            </div>
          </div>

        </div>
      </div>

      <div class="centre">
        <div class="upbar" >
    <!-- Le titre de la page  -->
          <h1>Formulaire d'ajout de type de plat</h1>
        </div>
    <!-- Les cartes  -->

        <!--  -->
          <div class="form">
            <form #admin="ngForm" (ngSubmit)="addPlat(admin)">

              <input #inputField ="ngModel" name="fileInput" ngModel type="file"  accept="image/*" (change)="onChange($event)"
              style="margin-bottom: 2em;">
            <!-- ======================================= -->

              <div>
                <label for="type">Choisir le type du plat :</label>
                <select name="Type" id="" ngModel>
                  <option  *ngFor="let item of Type" [ngValue]="item.id">{{ item.nom }}</option>
                </select>
              </div>

              <div>
                <label for="nom" >Nom du plat</label><br>
                <input type="text" name="nom" id="nom" ngModel>
              </div>

              <div>
                <label for="prix" >Prix unitaire en F CFA</label><br>
                <input type="number" name="prix" id="prix" ngModel>
              </div>

              <div>
                <label for="desc" >Description</label><br>
                <!-- <input type="text" name="nom" id="nom" ngModel style="height: 25vh;"> -->
                <textarea name="description" class="desc" cols="43" rows="10" style="padding: 0.5em;" ngModel ></textarea>
              </div>


              <div class="button">
              <button type="submit" style="background-color: #ff8000;">Ajouter</button>
              <!-- <input type="submit" value="Ajouter"> -->
              <button type="reset" style="background-color:red;">Annuler</button>
              </div>
            </form>
          </div>
        <!--  -->

      </div>

      <!-- la partie details  -->
      <div class="droite">
        <div class="detail">
          <h1>
          Plus de details
          </h1>
          <hr><hr><hr>

        </div>

      </div>

    </div>
