<app-header-admin></app-header-admin>
    <!-- titre de la page  -->
    <div class="principal">

  <div class="menu" style="z-index: 6;">
    <div class="profil">
      <img [src]="adminInfo?.imageUrl">
      <h3>{{adminInfo?.nom}}</h3>
    </div>
    <div class="trait"></div>
    <div class="onglets">
      <div class="option" >
        <div class="option1" routerLink="/afficheRestaurant">
          <img src="../../../assets/images/acceuil.png" alt="">
          <h5>Restaurants</h5>
        </div>
        <div class="option2" routerLink="/listeAdmin" style="background-color: #d5d5d5;">
          <img src="../../../assets/images/profil (2).png" alt="">
          <h5 style="margin-left: 1.8em;">Supper-Admin</h5>
        </div>

      </div>

      <div class="option">
        <div class="option2">
          <img src="../../../assets/images/sta.png" alt="">
          <h5>Statistiques</h5>
        </div>

        <div class="option1">
          <img src="../../../assets/images/tel.png" alt="">
          <h5>Contacts</h5>
        </div>
      </div>

      <div class="deconnexion">
        <button (click)="onLogout()">Déconnexion</button>
      </div>

    </div>
  </div>

      <div class="centre">
        <div class="upbar" >
    <!-- Le titre de la page  -->
          <h1>Formulaire d'ajout de Supper-Admin</h1>
        </div>
    <!-- Les cartes  -->

        <!--  -->
        <div *ngIf="loading" class="loading-indicator">
          <!-- Ajoutez ici votre indicateur de chargement (cercle tournant) -->
          Enregistrement du restaurant en cours...
        </div>
          <div class="form">
            <form #admin="ngForm" (ngSubmit)="addAdmin(admin)">
              <!-- ====================================== -->
              <!-- <div class="images" *ngIf="user$ |async as user">
                  <img width="120"
                  height="120" [src]="user.photoUrl ??'assets/images/profil (2).png'"/>

                  <button class="pen" (click)="inputField.click()" style="background-color: #fff; border: none;">
                    <img src="../../../assets/images/pen.png" alt="">
                  </button>
              </div> -->
              <label for="Photo">Photo de l'admin</label><br>
              <input #inputField ="ngModel" name="fileInput" ngModel type="file"  accept="image/*" (change)="onChange($event)"
              style="margin-bottom: 2em;">
            <!-- ======================================= -->

              <div>
              <label for="nom" >Nom du Supper-Admin</label><br>
              <input type="text" name="nom" id="nom" ngModel>
              </div>
              <div>
              <label for="adresse" >Adresse</label><br>
              <input type="text" name="adresse" id="adresse" ngModel>
              </div>
              <div>
              <label for="mail" >Email</label><br>
              <input type="email" name="email" id="mail"  [(ngModel)]="email" required>
              </div>
              <div>
              <label for="telephone" >Téléphone</label><br>
              <input type="tel" name="telephone" id="telephone" ngModel>
              </div>
              <div>
              <label for="pass" >Mot de passe</label><br>
              <input type="password" name="password" id="pass"  [(ngModel)]="password" required>
              </div>
              <div>
              <label for="confirm" >Confirme</label><br>
              <input type="password" name="confirm" id="confirm" ngModel>
              </div>
              <!-- <div>
                <label for="telephone" style="margin-left: -15em;">Photo</label><br>
                <input type="file" accept="images/*" (change)="onFileSelected($event)" #fileInput>
              </div> -->

              <div class="button">
              <button type="submit" style="background-color: #ff8000;">Ajouter</button>
              <!-- <input type="submit" value="Ajouter"> -->
              <button type="reset" style="background-color:red;">Annuler</button>
              </div>
            </form>
          </div>
        <!--  -->

      </div>

      <!-- la partie details  -->
      <div class="droite">
        <div class="detail">
          <h1>
          Plus de details
          </h1>
          <hr><hr><hr>

        </div>

      </div>

    </div>
