*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.principal{
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.menu{
  width: 18%;
  padding: auto;
  padding-bottom: 1em;
  text-align: center;
  background-color: #FFF;
  height: auto;
  border-top-left-radius: 15px;
  box-shadow: 0px 0px 5px 1px #888881;
}
.left{
  /* border: 1px solid black; */
  width: 70%;
  height: 100vh;
}
.droite{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 0px 0px 5px 1px #888888;
  width: 25%;
  text-align: center;
  padding: 0.5em;
  margin-right: 0.1em;

}
.upbar{
  width: 98%;
  height: 10vh;
  box-shadow: 0px 0px 5px 1px #88888881;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  color: #ff8000;
  padding-top: 1em;
}
.centre{
  width: 58%;
  margin-left: -3%;
  /* background-color: #ff8000; */

}
/* .droite{
  width: 25%;
  text-align: center;
  padding: 0.5em;
} */
.menu .profil img{
  width: 7em;
  /* border-radius: 50%; */
  /* border: 2px solid #ff8000; */
  margin-top: 0.2em;
}
.menu .profil{
 color: #ff8000;
 margin-bottom: 0.5em;
}
.menu .trait{
 width: 50%;
 border: 0.1px solid;
 margin:auto;
}
.option{
  color: #ff8000;
  font-size: large;
}
.option .option1 img{
  text-align: center;
  width:  2em;
  height: 2em;
  margin-left: 0.5em;
}
.option .option2 img{
  width: 2em;
  height: 2em;
  margin-left: 0.5em;

  text-align: center;

}
.option .option1,.option2{
  display: flex;
  margin-top: 1.5em;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  height: 2.5em;
  width: 90%;
}
.option .option1:hover,.option2:hover{
  background-color: #8888884b;
  cursor: pointer;
}
.option .option1 h5,.option2 h5{
  margin-left: 2em;
}
.upbar{
  width: 98%;
  height: 10vh;
  box-shadow: 0px 0px 5px 1px #88888881;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  color: #ff8000;
  padding-top: 1em;
}
.form{
  text-align: center;
  margin-top: 4em;
}
.form div{
  margin-bottom: 2em;
}
.form div input{
  width: 50%;
  height: 2em;
  background-color: #a9a9a9ab;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 1em;
}
.button button{
  margin: 1em;
  width: 8em;
  border-radius: 5px;
  border: none;
  height: 2em;
  color: #fff;
  font-weight: bold;
}

.button button :hover{
  color: #000;
}


.datailimg{
  width: 100%;
}
.datailimg img{
  width: 15vh;
  margin: 0.5em;
}

.detailA button{
  border: none;
  border-radius: 5px;
  padding: 0.2em;
  color: #FFF;
  width: 8em;
  height: 2em;
}
.detailA h2{
  color: #ff8000;
  font-weight: bold;
  text-decoration: underline;
  margin-top: 1em;
  margin-bottom:1em;
}
.detailA h1{
  color: #ff8000;
  font-weight: bold;
}
.action{
  display: flex;
  justify-content: space-between;
  margin-left:2em;
  margin-right:2em;
  margin-top: 2em;
}

.deconnexion button{
  margin-top: 10em;
  width: 20vh;
  height: 4vh;
  background-color: red;
  color: #fff;
  border-radius: 15px;
  border: none;
  font-weight: bolder;
  font-size: 1.1em;
  cursor: pointer;
}
.deconnexion button:hover{
  color: #D9D9D9;
}


