<app-header-admin></app-header-admin>



<!-- titre de la page  -->
<div class="principal">

  <div class="menu" style="z-index: 6;">
    <div class="profil">
      <img [src]="admniInfo?.imageUrl">
      <h3>{{admniInfo?.nom}}</h3>
    </div>
    <div class="trait"></div>
    <div class="onglets">
      <div class="option">
        <div class="option1" style="background-color: #d5d5d5;">
          <img src="../../../assets/images/acceuil.png" alt="">
          <h5>Restaurants</h5>
        </div>
        <div class="option2" routerLink="/afficheAdmin">
          <img src="../../../assets/images/profil (2).png" alt="">
          <h5 style="margin-left: 1.8em;">Supper-Admin</h5>
        </div>

      </div>

      <div class="option">
        <div class="option2">
          <img src="../../../assets/images/sta.png" alt="">
          <h5>Statistiques</h5>
        </div>

        <div class="option1">
          <img src="../../../assets/images/tel.png" alt="">
          <h5>Contacts</h5>
        </div>
      </div>

      <div class="deconnexion">
        <button (click)="onLogout()">Déconnexion</button>
      </div>

    </div>
  </div>

  <div class="centre">
    <div class="upbar">
<!-- Le titre de la page  -->
      <h1>Liste des restaurants</h1>
    </div>
<!-- Les cartes  -->
    <div class="afiche" >
    <!--  -->
      <div class="carte" *ngFor=" let data of Restau " (click)="showRestauDetails(data)">
        <div class="image">
          <!-- recuperer l'image dans firestorage et le mettre ici -->
          <img [src]="data.imageUrl" alt="image du restaurant">
        </div>
        <div class="titre">
          <h3>{{data.nom}}</h3>
        </div>
      </div>
    <!--  -->

    </div>
  </div>

  <!-- la partie details  -->
  <div class="droite">
    <div class="detail">
      <h1>
      Details du restaurant
      </h1>
      <hr><hr><hr>
      <div class="detailA" *ngIf="Restaurant">
        <div class="datailimg">
        <img [src]="Restaurant.imageUrl" alt="image du restaurant">

        </div>
        <h1>{{Restaurant.nom}}</h1>
        <hr><hr>
        <h2>Adresse:</h2>
        <h3>{{Restaurant.adresse}}</h3>
        <h2>Téléphone: </h2>
        <h3>{{Restaurant.telephone}}</h3>
        <h2>Email:</h2>
        <h3>{{Restaurant.email}}</h3>
        <div class="action">
        <button (click)="deleteRestaurant(Restaurant.id)" style="background-color: red;">Supprimer</button>
        <button style="background-color: #ff8000;">Modifier</button>
        </div>

      </div>
    </div>

  </div>

</div>
